.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-right: 2rem;
    animation: fadeIn 3s ease;
}

.navbar h1 {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.nav-links {
    margin-top: 2.1rem;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #fff;    
    text-decoration: none;
}

.nav-links a:hover {
    color: #808080;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
